*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 10px;
}
#calcul {
    display: flex ;
    flex-direction: column ;
    justify-content: space-around;
    border: solid 2px;
    margin-top: 200px;
    width: 350px;
    height: 650px;
    background-color: black;
}
#screen {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 80px;
    height: 100px;
    color: white;
    border-radius: 10px;
}
#sec1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
#sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
#sec3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
#sec4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
#sec5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
input {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
input[type='button']:hover {
    opacity: 2;
    background-color: red;
    cursor: pointer;
}
#ac{
    background-color:#a5a5a5 ;
}
#plsm{
    background-color: #a5a5a5;
}
#mod{
    background-color: #a5a5a5;
}
#div{
    background-color: #ff9f0c;
    color: white;
}
#sev{
    background-color: #333333;
    color: white;
}
#eight{
    background-color: #333333;
    color: white;
}
#nine{
    background-color: #333333;
    color: white;
}   
#time{
    background-color: #ff9f0c;
    color: white;
}
#four{
    background-color: #333333;
    color: white;
}
#five{
    background-color: #333333;
    color: white;
}
#six{
    background-color: #333333;
    color: white;
}
#min{
    background-color: #ff9f0c;
    color: white;
}
#one{
    background-color: #333333;
    color: white;
}
#two{
    background-color: #333333;
    color: white;
}
#three{
    background-color: #333333;
    color: white;
}
#plus{
    background-color: #ff9f0c;
    color: white;
}
#zero{
    background-color: #333333;
    color: white;
    width: 150px;
}
#dec{
    background-color: #333333;
    color: white;
}
#equal{
    background-color: #ff9f0c;
    color: white;
}